<div ng-controller="Nibble.MatrixEditor">
  <style>
    a:hover { text-decoration: none; }
    .row-buttons { display: table; margin-right: 10px; }
    .row-buttons a, .row-buttons i { display: table-cell; }
  </style>
 	<table>
		  <thead>
		    <tr>
		      <th ng-show="model.config.rowlabels"></th>
		      <th ng-repeat="head in model.config.rowheaders.collabels">{{head}}</th>
		    </tr>
  		</thead>
      <tbody ui-sortable="sortableOptions" ng-model="model.value">
          <tr ng-repeat="row in model.value">
            	<td ng-show="model.config.rowlabels" ng-model="model.config.rowheaders.rowlabels[$index]">
            		{{model.config.rowheaders.rowlabels[$index]}}
            	</td>
              <td ng-repeat="col in row track by $id($index)">
              	 <input type="text" ng-model="row[$index]">
              </td>
             	<td ng-show="model.config.manageRows">
                <div class="row-buttons">
                  <a href="#" prevent-default ng-click="addRow($index)" ng-show="canAddRow()">
                    <i class="icon icon-add blue"></i>
                  </a>
        					<a href="#" prevent-default="" ng-click="removeRow($index)" ng-show="canRemoveRow()">
        						<i class="icon icon-delete red hover-show"></i>
        					</a>
                  <i class="icon icon-navigation handle" ng-show="canSort()"></i>
                </div>
             	</td>
          </tr>
      </tbody>
    </table>
</div>