<div ng-controller="Nibble.MatrixEditor">
 	<table>
		<thead>
		    <tr>
		      <th ng-repeat="head in model.config.rowheaders.collabels">{{head}}</th>
		    </tr>
  		</thead>
        <tbody>
            <tr ng-repeat="row in model.value">
                <td ng-repeat="col in row  track by $id($index)">
                	 <input type="text" ng-model="row[$index]"></td>
            </tr>
        </tbody>
    </table>
    <ul class="unstyled list-icons" ng-show="model.config.addrows">
		<li>
			<i class="icon icon-add blue"></i>
			<a href="#" ng-click="addRow()" prevent-default="">
				<localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
			</a>
		</li>
	</ul>
</div>